<div>
  <h3>
    Quick Sort <span>Comparison {{charData.comparisons}}</span>
  </h3>
  <input
    [disabled]="!charData.finished"
    placeholder="Number of elements"
    type="number"
    [(ngModel)]="numElements"
    (change)="updateRandomData()"> |
  <button [disabled]="!charData.finished" (click)="quick()">Sort</button>
  <hr>
  <canvas width="100%" height="25%"
          [datasets]="charData.dataSet"
          [labels]="charData.labels"
          [options]="charData.options"
          [plugins]="charData.plugins"
          [legend]="charData.legend"
          [chartType]="charData.chartType"
          baseChart>
  </canvas>

</div>
