<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item" ><a class="nav-link" routerLink="/bubble">Bubble</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/insertion">Insertion</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/quick">Quick</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/min-path-finder">Path Finder</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

