<div class="container-fluid" style="padding-top: 1vw">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <a class="btn btn-primary" href="https://backtrackshubham.github.io" target="_blank">
        Click to move to my Dev Folio
      </a>
    </div>
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item" ><a class="nav-link" routerLink="/sorting">Sortings</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/path-algos">Path Finder</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/test-d3">D3(Under Construction)</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

