Input Grid Size
<input type="number"
       [disabled]="isFinished"
       [(ngModel)]="gridSize"
       (change)="updateGrid()"
>
|
<button [disabled]="isFinished" (click)="startVisualization()">Find path with minimum weight from 0 , 0 to  {{gridSize - 1}}
  , {{gridSize - 1}}</button>
<span *ngIf="answer"> | Minimum Weight is {{answer2}}</span><br>
<span *ngIf="answer">And path is  {{path}}</span>
<hr>
<div class="row">
  <div class="col-md-12" style="display: flex; align-items: center; justify-content: center">
    <table *ngIf="nums && nums.length > 0"
           style="text-align: center; border: solid; margin: 2%; overflow-scrolling: auto">
      <tr *ngFor="let row of nums">
        <td *ngFor="let elem of row" [ngStyle]="elem.backgroundColour">
          {{elem.value}}
          <span *ngIf="elem.showRightArrow" class="glyphicon glyphicon-arrow-right"></span>
          <span *ngIf="elem.showDownArrow" class="glyphicon glyphicon-arrow-down"></span>
          </td>
      </tr>
    </table>
  </div>
</div>
